body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    color: $design_alter_color__primary;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  nav.menu-datum-site {
    transition: all .5s;
    padding: 2rem 0;

    @include respond-below( md ) {
      background: $design_alter_color__white;
      padding: .5rem 0;
    }

    &.scrolled {
      background: $design_alter_color__white;
      padding: .5rem 0;

      .content-menu-items {
        .menu-ul {
          .nav-item {
            a {
              color: $design_alter_color__primary;

              &:hover {
                color: $design_alter_color__primary_hover;
              }
            }
          }
        }
      }
    }

    button.navbar-toggler {
      border-color: #434343;
      margin-left: auto;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .content-menu-items {
      .menu-ul {
        width: 100%;
        justify-content: space-between;

        .nav-item {
          a {
            color: $design_alter_color__white;
            font-size: 1.2rem;

            @include respond-below( md ) {
              color: $design_alter_color__primary;
            }

            &:hover {
              color: $design_alter_color__primary;

              @include respond-below( md ) {
                color: $design_alter_color__primary_hover;
              }
            }
          }
        }
      }
    }
  }
}
