body {
  .section-products-services-datum {
    background: url( '../../assets/images/background_datum.jpg' ) no-repeat center;
    padding: 4rem 0;
    background-size: cover;

    .container-products-services {
      h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;

        span {
          color: $design_alter_color__primary;
        }
      }

      hr {
        background: $design_alter_color__primary;
        border: 2px solid $design_alter_color__primary;
        height: 0;
        width: 5%;
        margin: 1rem auto 6rem;
        opacity: 1;
      }

      .row {
        .products-services-info {
          margin-bottom: 6rem;

          @include respond-below( sm ) {
            margin-bottom: 2rem;
          }

          p {
            font-size: 1.2rem;
            text-align: left;
            line-height: 35px;
          }
        }

        .products-services-list {
          @include respond-below( sm ) {
            margin-bottom: 2rem;
          }

          p {
            position: relative;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 2.5rem;

            svg {
              position: absolute;
              color: $design_alter_color__primary;
              font-size: 1.5rem;
              top: .5rem;
              left: 0;
            }
          }
        }

        .services-datum-modal {
          text-align: center;
          margin-bottom: 2rem;

          img {
            cursor: pointer;
            width: 300px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}